@using BookAndShop.Data
@using BookAndShop.LayoutServices
@using BookAndShop.Shared
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject TokenProvider TokenProvider
@inject BookAndShopContext idContext

@*<PageTitle>BookAndShop</PageTitle>
*@

	
	@if(CountService.Count<1)
	{
		<!-- Intro -->
		<div id="intro">
			<h1>
				Book&Shop
			</h1>
			<p>
				Самый крупный онлайн-магазин книг!
			</p>
			<ul class="actions">
				<li><a @onclick="StartClick" href="/" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
@*		 <header id="header" style="opacity:0">
			<a class="logo">Book&Shop</a>
		</header>*@
	}
	else{
		@if(CountService.Count==1)
		{
			<div id="intro" style="animation-name: TitleCollapse; animation-duration: 1.5s; animation-fill-mode:forwards;">
				<h1>
					Book&Shop
				</h1>
				<p>
					Самый крупный онлайн-магазин книг!
				</p>
				<ul class="actions">
					<li><a @onclick="StartClick" href="/" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
				</ul>
			</div> 
			<!-- Header -->
			 <header id="header" style="opacity:0">
				<a class="logo">Book&Shop</a>
			</header>
		 
		}
		else{
			<!-- Header -->
			<header id="header" style="opacity:0; animation-name: HeaderVisible; animation-duration: 3s; animation-fill-mode:forwards;">
				<a class="logo">Book&Shop</a>
			</header>
		}
	}
       
		
		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				@if(Url == "/" && active)
				{
					<li  class="active"><a href="/" @onclick="@(x => urlChanged("/"))">Главная</a></li>
				}
				else
				{
					<li><a href="/" @onclick="@(x => urlChanged("/"))">Главная</a></li>
				}
				@if(Url == "/generic" && active)
				{
					<li  class="active"><a href="/generic" @onclick="@(x => urlChanged("/generic"))">Жанры</a></li>
				}
				else
				{
					<li><a href="/generic" @onclick="@(x => urlChanged("/generic"))">Жанры</a></li>
				}
				@if(Url == "/books" && active)
				{
					<li class="active"><a href="/books" @onclick="@(x => urlChanged("/books"))">Книги</a></li>
				}
				else
				{
					<li><a href="/books" @onclick="@(x => urlChanged("/books"))">Книги</a></li>
				}
			</ul>
			<ul class="icons">
				<AuthorizeView>
					<Authorized>
						<li>
							<a class="label" style="border-bottom:0px; margin-right:15px" href="/account">
								<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
									<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
								</svg>
							</a>
						</li>
					</Authorized>
					<NotAuthorized>
						<li>
							<a class="label" style="border-bottom:0px; margin-right:15px" href="/auth/login">
								<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
									<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
								</svg>
							</a>
						</li>
					</NotAuthorized>
				</AuthorizeView>

				<li><a class="label" style="border-bottom:0px; margin-right:15px" href="/basket">
					<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16">
						<path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z"/>
					</svg>
				</a></li>
				@*<li><LoginDisplay/></li>*@
				

				<AuthorizeView Roles="Admin">
					<li><a class="label" style="border-bottom:0px; margin-right:15px" href="/settings">
						<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
							<path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
							<path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
						</svg>
					</a></li>
				</AuthorizeView>

				<li><a class="label" style="border-bottom:0px;" href="/auth/logout">
					<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
						<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
					</svg>
				</a></li>
			</ul>
		</nav>
		<div id="main">			
		@Body
		</div>
			<!-- Footer -->
			<footer id="footer">
				@*<section>
					<form method="post" action="#">
						<div class="fields">
							<div class="field">
								<label for="name">Name</label>
								<input type="text" name="name" id="name" />
							</div>
							<div class="field">
								<label for="email">Email</label>
								<input type="text" name="email" id="email" />
							</div>
							<div class="field">
								<label for="message">Message</label>
								<textarea name="message" id="message" rows="3"></textarea>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" /></li>
						</ul>
					</form>
				</section>*@
				<section class="split contact">
					<section class="alt">
						<h3>Address</h3>
						<p>1234 Somewhere Road #87257<br />
						Nashville, TN 00000-0000</p>
					</section>
					<section>
						<h3>Phone</h3>
						<p><a href="#">(000) 000-0000</a></p>
					</section>
					<section>
						<h3>Email</h3>
						<p><a href="#">info@untitled.tld</a></p>
					</section>
					<section>
						<h3>Social</h3>
						<ul class="icons alt">
							<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</section>
				</section>
			</footer>

		<!-- Copyright -->
@*			<div id="copyright">
				<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
			</div>*@



@code{
	string Url { get; set; } = "/";
	bool active{ get; set; }

	void urlChanged(string url)
	{
		Url = url;
		navigationManager.NavigateTo(url);
	}
	protected override void OnInitialized()
	{
		active = true;
		CountService.Count = 0;
	}

	protected override bool ShouldRender()
	{
		Url = navigationManager.Uri.Remove(0, navigationManager.Uri.IndexOf("//")+2);
		Url = Url.Remove(0, Url.IndexOf("/"));
		return true;
	}

	private async void StartClick()
	{
		CountService.Count++;
		await Task.Run(() => IncCount());
		//navigationManager.NavigateTo(Url);
	}

	void IncCount()
	{
		Thread.Sleep(2000);
		CountService.Count++;
		InvokeAsync(() => StateHasChanged());
	}
}

