@page "/book"
@page "/book/{bookId:int}"
@using BookAndShop.Models
@using BookAndShop.Services.BasketService
@using Microsoft.EntityFrameworkCore
@inject MyDbContext context
@inject IBasketService basketService

<section class="post">
	<header class="major">
		<span class="date">@(book.Date == null ? "" : book.Date.Value.ToString("dd MMMM, yyyy"))</span>
		<h1>@book.Title</h1>
		<p>@book.Author.Fio</p>
	</header>
	<div class="image main"><img src="@book.Image.Path" alt="" /></div>
	<p style="margin-top:20px;">@book.Description</p>
	
	<div style="text-align:center;">
		<ul class="actions special" style="margin-top:40px; position:relative; z-index:2;" @onclick="() => AddBook(book)">
			<li><a class="button">Добавить в корзину</a></li>
		</ul>
		@*<lord-icon
			src="https://cdn.lordicon.com/xhdhjyqy.json"
			trigger="loop"
			colors="primary:black,secondary:#08a88a"
			style="width:60px;height:60px; margin-left:65%; margin-top:-87px; display:none; z-index:1"
			id="animclick">
		</lord-icon>*@
	</div>
	<img src=/images/check.svg style="width:60px;height:60px; margin-left:65%; margin-top:-87px; display:none; z-index:1" id="animclick"/>
</section>



@code{
	[Parameter]
	public int bookId{ get; set; }
	[Inject]
	IJSRuntime JS{ get; set; }
	private Book? book{ get; set; }

	protected override void OnInitialized()
	{
		book = context.Books.Where(x => x.Id == bookId).Include(x => x.Image).Include(x => x.Author).FirstOrDefault();
	}

	private async void AddBook(Book book)
	{
		basketService.AddBasketItem(book);
		await JS.InvokeVoidAsync("AddBookClick");
	}

}